@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand");

//Variables

$blue: powderblue;
$black: black;
$gold: gold;

//Content

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: auto;
  background-image: url("/images/bck.jpg");
  background-position: top;
  background-size: cover;
}

h4 {
  margin-left: 30px;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: $blue;
}

img {
  margin: 10px;
}

p {
  color: $blue;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.info-flex {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.film-flex {
  display: flex;
  background-color: rgba($black, 0.8);
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 0 30px $black;
}

.date-mins-flex {
  display: flex;
  color: $blue;
}

.movie-list {
  list-style-type: none;
  padding-left: 0;
}

.movie-title {
  text-align: center;
  color: $blue;
}

.main-header {
  font-size: 35px;
  font-weight: 700;
  margin-top: 0;
  padding-top: 15px;
  text-align: center;
  color: $blue;
  text-shadow: 0 0 15px $black;
}

.trailer-btn {
  height: 40px;
  width: 80px;
  border-radius: 8px;
  border: 1px solid $gold;
  margin-top: 60px;
  font-size: 16px;
  background-color: rgba($black, 0.7);
  transition: 0.2s all linear;
  &:hover {
    transform: rotate(-5deg) scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 20px $black;
  }
}
